.fas {
    font-size: 200%;
}

.bg-darkerlight{
    background-color:#a2a2a2;
}

.bg-main{
    background-color:#EFE2B2;
}

.card{
    margin-top:10px;
}

.card:hover {
    background-color: rgb(235, 235, 235);
}

.main{
    margin-left:7%;
    margin-right:7%;
}

.social-icon{
    color:black;
    font-size:20px;
}

a {
    color:black;
    text-decoration:none;
}

